<div class="form-group row">
        <label class="control-label col-md-3 col-sm-3 ">Select</label>
        <div class="col-md-9 col-sm-9 ">
            <select class="form-control" name="estado">
                <option value="">Seleccione el estado</option>
                <option value="activo"> Activo</option>
                <option value="inactivo">Inactivo</option>

            </select>
        </div>
    </div>